---
permalink: /recipes/index.html
title: recipes
categories_list: [chicken, sides, pork, beef, dressing]
---

{% assign recipe_cats = site.recipes | group_by: "category" | sort: "name" %}

{% for category in page.categories_list %}
    {% assign recipes_in_cat = (recipe_cats | where: "name",category) | sort: 'name' %} 
    {% assign recipes_in_cat_first =  recipes_in_cat.first %} 
    {% assign recipes_in_cat_sorted =  recipes_in_cat_first.items %}

    1 {{ recipes_in_cat }}
    2 {{ recipes_in_cat_first }}
    3 {{ recipes_in_cat_sorted }}

    <h3>{{ recipes_in_cat_first.name }}</h3>
    <ul>
    {% for recipe in recipes_in_cat_sorted reversed %}
        <li><a href="{{ recipe.url | absolute_url }}">
            {{ recipe.title }} ping6
        </a></li>
    {%endfor%}
    </ul>
{% endfor %}

{{ site.recipes }}

<div class="alignright"><h5><a href="{{ site.baseurl }}{% link _pages/recipes_list.html %}">as list</a></h5></div>
<div style="clear: both;"></div>






{% comment %}
{% assign recipe_cats = site.recipes | group_by: "category" | sort: "name" %}
    <h5>{{ recipe_cats }}  ...dogs</h5>
{% for cat in recipe_cats %}
    <h3>{{ cat.name }}</h3>
    <ul>
    {% for recipe in cat.items %}
        <li><a href="{{ recipe.url | absolute_url }}">
            {{ recipe.title }}
        </a></li>
    {%endfor%}
    </ul>
{%endfor%}
{% endcomment %}
{% comment %}
{% assign chicken = site.recipes | where: "category", "chicken" %}

<ul>
{% for recipe in chicken %}
    <li><a href="{{ recipe.url | absolute_url }}">
      {{ recipe.title }}
    </a></li>
{%endfor%}
</ul>
<br><br>
{% assign allrecipessorted = site.recipes | sort: "category" %}
<ul>
{% for recipe in allrecipessorted %}
    <li><a href="{{ recipe.url | absolute_url }}">
      {{ recipe.title }}
    </a></li>
{%endfor%}
</ul>
<br><br>
{% endcomment %}
