---
permalink: /recipes/category.html
---

{% assign recipe_cats = site.recipes | group_by: "category" | sort: "name" %}

{% for cat in recipe_cats %}
    <h3>{{ cat.name }}</h3>
    <ul>
    {% for recipe in cat.items %}
        <li><a href="{{ recipe.url | absolute_url }}">
            {{ recipe.title }}
        </a></li>
    {%endfor%}
    </ul>
{%endfor%}

{% comment %}
{% assign chicken = site.recipes | where: "category", "chicken" %}

<ul>
{% for recipe in chicken %}
    <li><a href="{{ recipe.url | absolute_url }}">
      {{ recipe.title }}
    </a></li>
{%endfor%}
</ul>
<br><br>
{% assign allrecipessorted = site.recipes | sort: "category" %}
<ul>
{% for recipe in allrecipessorted %}
    <li><a href="{{ recipe.url | absolute_url }}">
      {{ recipe.title }}
    </a></li>
{%endfor%}
</ul>
<br><br>
{% endcomment %}
