---
permalink: /recipes/category.html
---

{% assign chicken = site.recipes | where: "category", "chicken" %}

{% for recipe in chicken %}
    {{ recipe.title }}<br>
{%endfor%}
<br><br>
{% assign allrecipessorted = site.recipes | sort: "category" %}

{% for recipe in allrecipessorted %}
    {{ recipe.title }}<br>
{%endfor%}
<br><br>
{% assign recipe_cats = site.recipes | group_by: "category" | sort: "name" %}

{% for cat in recipe_cats %}
    {{ cat.name }}<br>
    {% for recipe in cat.items %}
        {{ recipe.title }}<br>
    {%endfor%}
{%endfor%}
