---
---

//  Add any custom CSS (or Sass, including imports) you'd like immediately after the @import line
//  If you'd like to change the theme's Sass variables, you must set new values before the @import line in your stylesheet.

// Sass import (must go before theme line)
@import "svg-icons";


@import "{{ site.theme }}";

.page-header a {
  color: $header-heading-color;
}

h3 a {
  color: $section-headings-color;
}

.quote {
  padding-top: 1em;
  padding-bottom: 0.5em;
}

.q_content {
  padding-top: 0.5em;
  padding-left: 2em;
}

div.img_recipe img {
  max-width: 33%;
}

ul.posts li span {
  font-size: 0.75rem;
}

div.date {
  margin-top: 2rem;
  font-size: 0.7rem;
}

//for footer
.alignleft {
	float: left;
}
.alignright {
	float: right;
}
